name: Create and publish release
on: [workflow_dispatch]
permissions:
  contents: write
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn lint:all
      - run: yarn prettier:check
      - run: yarn tsc
      - run: yarn build

  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn test:all

  bump-version:
    name: Bump version
    runs-on: ubuntu-latest
    needs: [lint, tests]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'
      - run: git pull
      - run: yarn
      - run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - run: yarn bump
      - run: git push --follow-tags

  tagged-release:
    name: Create tagged release
    needs: [bump-version]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git pull
      - name: 'Get Previous tag'
        id: previoustag
        uses: 'WyriHaximus/github-action-get-previous-tag@v1'
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          prerelease: false
          automatic_release_tag: ${{ steps.previoustag.outputs.tag }}
          files: 'CHANGELOG.md'

  publish:
    name: Publish plugin packages
    runs-on: ubuntu-latest
    needs: [tagged-release]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create yarnrc.yml
        run: |
          echo "npmAuthToken: ${{ secrets.NPM_TOKEN }}" >> ~/.yarnrc.yml
          echo "npmAlwaysAuth: true" >> ~/.yarnrc.yml
          echo "npmPublishRegistry: https://registry.npmjs.org" >> ~/.yarnrc.yml
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'
      - run: git pull
      - run: yarn
      - run: yarn tsc
      - run: yarn --cwd plugins/qeta build
      - run: yarn --cwd plugins/qeta npm publish
      - run: yarn --cwd plugins/qeta-react build
      - run: yarn --cwd plugins/qeta-react npm publish
      - run: yarn --cwd plugins/qeta-backend build
      - run: yarn --cwd plugins/qeta-backend npm publish
      - run: yarn --cwd plugins/qeta-common build
      - run: yarn --cwd plugins/qeta-common npm publish
      - run: yarn --cwd plugins/qeta-node build
      - run: yarn --cwd plugins/qeta-node npm publish
      - run: yarn --cwd plugins/search-backend-module-qeta build
      - run: yarn --cwd plugins/search-backend-module-qeta npm publish
      - run: yarn --cwd plugins/scaffolder-backend-module-qeta build
      - run: yarn --cwd plugins/scaffolder-backend-module-qeta npm publish
      - run: yarn --cwd plugins/qeta-backend-module-openai build
      - run: yarn --cwd plugins/qeta-backend-module-openai npm publish
      - run: yarn --cwd plugins/catalog-backend-module-qeta build
      - run: yarn --cwd plugins/catalog-backend-module-qeta npm publish
